.person-node {
  padding: 20px; /* Increased padding for better content fit */
  border-radius: 50%; /* Make it circular */
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height, equal to width */
  display: flex; /* For centering content */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  background: #282c34;
  color: white;
  border: 2px solid #4caf50;
  transition: height 0.3s ease; /* Smooth transition for height changes */

  &.deceased {
    border-color: #d32f2f;
    opacity: 0.7;
  }

  .nickname {
    font-size: 0.85em;
    color: #ccc;
  }

  .gender {
    font-size: 0.8em;
    margin-top: 5px; /* Add margin for spacing */
  }

  .character {
    font-weight: bold;
    margin-top: 5px; /* Add margin for spacing */
    &.neutral {
      color: #ffd600;
    }
    &.good {
      color: #4caf50;
    }
    &.evil {
      color: #f44336;
    }
  }
}
