.edge-label {
  &.married_to {
    background-color: #6a1b9a !important;
  }
  &.parent_of {
    background-color: #1e88e5 !important;
  }
  &.belongs_to {
    background-color: #2e7d32 !important;
  }
}