.edge-label {
  &.married_to {
    background-color: #a25300 !important;
  }
  &.parent_of {
    background-color: #c19600 !important;
  }
  &.belongs_to {
    background-color: #044d71 !important;
  }
}