.flow-node-buttons {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 5px !important;
  z-index: 10 !important;
}