// sample

$primary-color: #af4c4c;
$secondary-color: #2c3e50;
$font-stack: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$border-radius: 10px;
$spacing-unit: 1rem;

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;