@use '@styles/variables';
@use '@styles/mixins';


body {
    margin: 0;
    /* font-family: variables.$font-stack; */ /* Overridden by MUI theme & CssBaseline */
    /* background-color: variables.$secondary-color; */ /* Overridden by MUI theme & CssBaseline */
    /* color: black; */ /* Overridden by MUI theme & CssBaseline */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}