@use '@styles/variables';
@use '@styles/mixins';


body {
    margin: 0;
    font-family: variables.$font-stack;
    background-color: variables.$secondary-color;
    color: black;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}